---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->

<% data.github_api[:commits].each do |commit| %>
  <% commit.files.each do |file| %>
    <% code("diff") do %>
      <%= file.patch %>
    <% end %>
  <% end %>
<% end %>
